<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello parent of <%= @student.name %></h1>

    <h2>There was an incident today at school, here is the report:</h2>

    <h3><%= @student.behavior_report.report %></h3>


  </body>
</html>