<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello parent of <%= @student.name %></h1>

    <h2>Here are you child's current statistics</h2>

    <h3>Grades</h3>
    

  </body>
</html>