// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.studentPic{
	border-radius: 9em;
}

#new-student {
	display: none;
}

.students-class-container {
	text-align: center;
	margin-top: 100px;
}
.bar {
	padding-left: 0 !important;
}