// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profilePic {
	border-radius: 9em;
}

.addGradeBar {
	padding-left: 0 !important;
}

.participationRow {
	text-align: center !important;
}


#chart-2 {
	width: 100%;
}

.n {
	height: 300px;
	vertical-align: middle;

}